:root {
    /* --background-color: #1c1c1e; */
    --primary-color: white;
    --secondary-color: #e1f23a;
    --accent-color: #990000;
    --hover-color: #B22222;
    --disabled-color: #555;
    --error-color: #ff4d4d;
}

.landingpagecontent_container {
    /* background-color: var(--background-color); */
    background: linear-gradient(135deg, #000428, #004e92);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}
.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
}

.landingpagecontent_title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.landingpagecontent_subtitle {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: var(--secondary-color);
}

.landingpagecontent_description {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #a1a1a6;
    padding: 0 1rem;
    text-align: center;
}

.landingpagecontent_input {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 1.5rem 0;
}

.landingpagecontent_input > input {
    height: 2.5rem;
    width: 70%;
    padding: 0 1rem;
    margin-right: 0.5rem;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #2c2c2e;
    color: var(--primary-color);
}

.landingpagecontent_input > input:focus {
    outline: 2px solid var(--primary-color);
}

.landingpagecontent_input > button {
    height: 2.5rem;
    width: 30%;
    padding: 0 1rem;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.landingpagecontent_input > button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
    transform: scale(1.05);
}

.landingpagecontent_input > button:focus {
    outline: 2px solid var(--primary-color);
}
.landingpagecontent_input > button:focus-visible {
    outline: 2px solid var(--primary-color);
}
.landingpagecontent_input > button:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
    transform: none;
}

.error_message {
    color: var(--error-color);
    margin-top: 0.5rem;
    font-size: 1rem;
    animation: fadeIn 0.5s ease-in-out;
}

.bottom_menu_label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.8);  */

}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: var(--primary-color);
}
.tooltip a {
    color: var(--primary-color);
    text-decoration: none;
}

.tooltip a:hover {
    text-decoration: underline;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltiptext a {
    color: var(--accent-color);
    text-decoration: none;
}

@media (max-width: 768px) {
    .landingpagecontent_input {
        flex-direction: column;
    }
    .landingpagecontent_input > input,
    .landingpagecontent_input > button {
        width: 100%;
        margin: 0.5rem 0;
    }
    .bottom_menu_label {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}