.search_results_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    background-color: #141414;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search_results_headline {
    grid-column: 1/-1;
    text-align: center;
    font-size: 24px;
    color: #e1f23a;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.search_results_row {
    margin: 10px;
    text-align: center;
    flex-grow: 1;
    transition: transform 0.4s, box-shadow 0.4s;
    will-change: transform;
}

.search_results_row:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.search_results_row img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.4s, box-shadow 0.4s;
    will-change: transform;
}

.search_results_row img:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.search_results_row > img:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
}

.search_results_title {
    margin-top: 10px;
    font-size: 14px;
    color: #fff; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px 10px;
    border-radius: 5px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .search_results_row img {
        height: 150px;
    }
    .search_results_headline {
        font-size: 20px;
    }
}